.text-wrapper {
    overflow: hidden;
    width: 50px;
    height: 40px;
}

.text_1 {
    margin-top: -23px;
    color: #ffffff;
    font-size: 40px;
    font-family: '.AppleSystemUIFont';
    line-height: 83px;
}


/* .page {
  padding: 23px 31px 26px 31.5px;
  background-color: #ff3838;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
} */

.group_4 {
    margin-top: 303.5px;
    align-self: flex-start;
    width: 822.5px;
}

.image {
    margin-bottom: 7px;
    flex-shrink: 0;
    width: 56px;
    height: 54px;
}

.text {
    margin-left: 14px;
    flex: 1 1 auto;
    color: #ffffff;
    font-size: 30px;
    font-family: '.AppleSystemUIFont';
    line-height: 25px;
    text-align: left;
    word-break: break-all;
}

.view_1 {
    margin-top: 112px;
}

.image_1 {
    margin-bottom: 6px;
    width: 379px;
    height: 101px;
}

.view {
    margin-top: 106px;
}

.image_2 {
    width: 68px;
    height: 34px;
}

.text_6 {
    margin-top: 6.5px;
    color: #85ff00;
    font-size: 28px;
    font-family: '.AppleSystemUIFont';
    line-height: 67px;
}

.text_3 {
    margin-top: -23px;
    color: #ffffff;
    font-size: 40px;
    font-family: '.AppleSystemUIFont';
    line-height: 83px;
}

.text_4 {
    margin-top: -9px;
    color: #ffffff;
    font-size: 100px;
    font-family: '.AppleSystemUIFont';
    line-height: 83px;
    text-align: left;
}